<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Redirector.Properties.Settings>
            <setting name="WebHostName" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="DriverWebPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="WebProtocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="WebLogPath" serializeAs="String">
                <value>C:\ProgramData\Schneider Electric\RedirectorServer\</value>
            </setting>
            <setting name="TwilioWebPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </Redirector.Properties.Settings>
    </applicationSettings>
</configuration>